{# Shows the user's information as well as authentication links #}

<div id="userInfo" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav pull-left">
                <li>
                    <a class="brand"
                    {% if course %}
                        href="/?course_code={{ course.code }}
                    {% elif challenge %}
                        href="/?course_code={{ challenge.exercise_course_code }}"
                    {% else %}
                        href="/"
                    {% endif %}
                    ">Jeeqs <img src="/static/favicon.ico"/></a></li>
                {% if course and courses %}
                    <li class="divider-vertical"></li>
                    <ul role="navigation" class="nav">
                        <li>
                            <div class="dropdown">
                                <a data-toggle="dropdown" class="btn btn-success dropdown-toggle" role="button" href="#" id="course_dropdown">
                                    {{ course.code }} - {{ course.name }} - <span class="label label-success">{{ course.university }}</span>
                                    <i class="icon icon-caret-down"></i>
                                </a>
                                <ul aria-labelledby="drop1" role="menu" class="dropdown-menu">
                                    {% for course in courses %}
                                        <li role="presentation">
                                            <a href="/?course_code={{ course.code }}" tabindex="-1" role="menuitem">
                                                {{ course.code }} - {{ course.name }} - <span class="label label-success">{{ course.university }}</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    </ul>
                {% endif %}
            </ul>
            <ul class="nav pull-right">
                {# class="active" will highlight the navigation item! #}
                {% if jeeqser %}
                    <li class="divider-vertical"></li>
                    <li><img class="nav_profile_pic" src="{{ jeeqser.profile_url }}"/></li>
                    <li>
                        <a href="/user/"
                        {% if jeeqser.suspended_until %}
                            title="Your account is suspended until {{ jeeqser.suspended_until }}"
                        {% endif %}
                            >{{ jeeqser.displayname }}
                        {% if jeeqser.suspended_until %}
                            <i class="icon-exclamation-sign"></i>
                        {% endif %}
                        </a>
                    </li>
                    <li><a href="{{ logout_url }}"> Log-out <i class="icon-off icon-white"></i></a></li>
                {% else %}
                    <li><a href="{{ login_url }}">Log-in</a></li>
                {% endif %}
                <li class="divider-vertical"></li>
                <li><a href="/about/">About</a></li>
            </ul>
        </div>
    </div>
</div>
<header id="banner" class="jumbotron subhead" style="padding-top:20px;background:#FBB917;min-height:122px;margin-bottom:20px;">
    <a href="javascript:hide_banner();" class="span1 pull-right" style="color:black;"><h2><i class="icon-remove-sign"></i></h2></a>
    <div class="container">
        <div class="row">
            <div class="span8">
                <h1>Welcome to Jeeqs!</h1>
                <p class="lead">Learn your stuff by solving university homeworks.</p>
                <p class="lead">Get reviews and review your peers' solutions.</p>
            </div>
            <div class="span4">
                <div id="tour-container">
                    <div class="banner-tour">
                        {% if not jeeqser.took_tour %}
                        <div id="tour" class="content_centered" style="margin-top:40px;">
                            <button class="btn btn-large btn-success" id="take_tour">See how it works</button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<script>
    $('#banner').hide();
    var hide_banner = function(){
        $('#banner').slideUp();
        $.cookie("banner", "shown", {expires: new Date(2019, 10, 29, 11, 00, 00), secure: false});
        $('#tour_without_banner').show();
        $('body').css('padding-top','60px');
        };
</script>
