{# Shows the user's information as well as authentication links #}

<div id="userInfo" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav pull-left">
                <li>
                    <a class="brand"
                    {% if course %}
                        href="/?course_code={{ course.code }}
                    {% elif challenge %}
                        href="/?course_code={{ challenge.exercise_course_code }}"
                    {% else %}
                        href="/"
                    {% endif %}
                    ">Jeeqs <img src="/static/favicon.ico"/></a></li>
                {% if course and courses %}
                    <li class="divider-vertical"></li>
                    <ul role="navigation" class="nav">
                        <li>
                            <div class="dropdown">
                                <a data-toggle="dropdown" class="btn btn-success dropdown-toggle" role="button" href="#" id="course_dropdown">
                                    {{ course.code }} - {{ course.name }} - <span class="label label-success">{{ course.university }}</span>
                                    <i class="icon icon-caret-down"></i>
                                </a>
                                <ul aria-labelledby="drop1" role="menu" class="dropdown-menu">
                                    {% for course in courses %}
                                        <li role="presentation">
                                            <a href="/?course_code={{ course.code }}" tabindex="-1" role="menuitem">
                                                {{ course.code }} - {{ course.name }} - <span class="label label-success">{{ course.university }}</span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    </ul>
                {% endif %}
            </ul>
            <ul class="nav pull-right">
                {# class="active" will highlight the navigation item! #}
                {% if jeeqser %}
                    <li class="divider-vertical"></li>
                    <li><img class="nav_profile_pic" src="{{ jeeqser.profile_url }}"/></li>
                    <li>
                        <a href="/user/"
                        {% if jeeqser.suspended_until %}
                            title="Your account is suspended until {{ jeeqser.suspended_until }}"
                        {% endif %}
                            >{{ jeeqser.displayname }}
                        {% if jeeqser.suspended_until %}
                            <i class="icon-exclamation-sign"></i>
                        {% endif %}
                        </a>
                    </li>
                    <li><a href="{{ logout_url }}"> Log-out <i class="icon-off icon-white"></i></a></li>
                {% else %}
                    <li><a href="{{ login_url }}" id="login_url">Log-in</a></li>
                {% endif %}
                <li class="divider-vertical"></li>
                <li><a href="javascript:show_feedback()">Feedback</a></li>
                <li><a href="/about/">About</a></li>
            </ul>
        </div>
    </div>
</div>
<style>#feedback{background:#555;height: 230px;display:none;}</style>
<header class="jumbotron subhead" id="feedback">
    <a href="javascript:hide_feedback();" class="span1 pull-right" style="color:white;"><h2><i
            class="icon-remove-sign"></i></h2></a>
    <div class="container">
        <form class="row">
            <div class="span8">
                <label style="margin-top:20px;"><h4 style="color:white;">Your Feedback:</h4>
                    <input id="feedback_user" type="hidden" value="{{ jeeqser.user }}">
                    <textarea class="span8" id="feedback_text" rows="5" placeholder="Please write your feedback here."></textarea>
                </label>
                <a class="btn" href="javascript:submit_feedback();">Submit</a>
                <span id="feedback_response" class="alert alert-info" style="margin-left:20px; display:none;"></span>
            </div>
        </form>
    </div>
</header>
<script>
    feedback_state = false;
    var hide_feedback = function(){
        $('#feedback').slideUp();
    }
    var show_feedback=function(){
        $('#feedback').slideDown();
        if (feedback_state==false)
        {//$('body').css('padding-top','40px');
            feedback_state=true;
        }
        else{
           // $('body').css('padding-top','60px');
            feedback_state=false;
        }

    };
    var submit_feedback=function(){
        var user_email = $('#feedback_user').val();
        var content = $('#feedback_text').val();
        if (user_email == ''){
            $('#feedback_response').html('You need to be logged in to send us a feedback.')
            $('#feedback_response').show()
            return;
        }
        if (content==''){
            $('#feedback_response').html("Feedback shouldn't be empty")
            $('#feedback_response').show()
            return;
        }
        //post the feedback
        $.ajax({
            url: "/feedback/",
            async: true,
            type: "POST",
            data: {'user_email': user_email, 'feedback': content},
            success: function (response) {
                $('#feedback_response').html(response);
                $('#feedback_response').show()
            },
            error: function() {
                $('#feedback_response').html('Something went wrong! Please try again.');
                $('#feedback_response').show()
            }
        });




    }
</script>
<header id="banner" class="jumbotron subhead"
        style="padding-top:20px;background:#FBB917;min-height:122px;margin-bottom:20px;">
    <a href="javascript:hide_banner();" class="span1 pull-right" style="color:black;"><h2><i
            class="icon-remove-sign"></i></h2></a>

    <div class="container">
        <div class="row">
            <div class="span8">
                <h1>Welcome to Jeeqs!</h1>

                <h3>Learn your stuff by solving challenges,</h3>

                <h3>Get reviews and review your peer solutions.</h3>
            </div>
            <div class="span4">
                <div id="tour-container">
                    <div class="banner-tour">
                        {% if not jeeqser.took_tour %}
                        <div id="tour" class="content_centered" style="margin-top:40px;">
                            <button class="btn btn-large btn-success" id="take_tour">See how it works</button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<script>
        $('#banner').hide();
        var hide_banner = function(){
                $('#banner').slideUp();
                $.cookie("banner", "shown", {expires: new Date(2019, 10, 29, 11, 00, 00), secure: false});
                $('#tour_without_banner').show();
                //$('body').css('padding-top','60px');
                };
</script>